* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: DM SANS, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    #title-container {
        #title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 24px;

            h1 {
                cursor: context-menu;
            }
        }

        img {
            height: 140px;
            width: 140px;
        }
    }

    #task-write {
        display: flex;
        margin-top: 50px;
        height: 50px;
        gap: 5px;

        #input-compra {
            border-radius: 7px;
            min-width: 350px;
            padding-left: 5px;
            border: 2px solid #000;
            font-size: 16px;

            &::placeholder {
                color: #000;
            }

            &:focus {
                border: 3px solid #cbd5e1;
                transition: all 0.1s;
            }
        }

        button {
            border-radius: 7px;
            width: 50px;
            background-color: #cbd5e1;
            transition: all 0.1s;
            cursor: pointer;
            border: 2px solid #000;
            margin-left: 20px;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    ul {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            display: flex;
            justify-content: space-around;
            list-style: none;
            gap: 10px;
            border: 1px solid #000;
            height: 45px;
            align-items: center;
            border-radius: 7px;
            width: 600px;
            padding-left: 5px;
        }
    }
}



.search {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

    input {
        border-radius: 5px;
        min-width: 200px;
        height: 25px;
        padding-left: 5px;
        margin-left: 10px;
        border: 2px solid #000;

        &::placeholder {
            color: #000;
        }
    
        &:focus {
            border: 3px solid #cbd5e1;
            transition: all 0.1s;
        }
    }

}




#filters {
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    gap: 5px;
    height: 30px;
    button {
        display: flex;
        align-items: center;
        width: 85px;
        justify-content: center;
        border: 2px solid #000;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        background-color: #cbd5e1;
        transition: all 0.1s;

        &:hover {
            opacity: 0.7;
        }
    }
}

select {
    display: flex;
    border: 2px solid #000;
    font-size: 16px;
    border-radius: 8px;
}

#quantity-input {
    display: flex;
    border: 2px solid #000;
    border-radius: 8px;
    text-align: center;
    width: 60px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}

#input-lembrete {
    display: flex;
    border: 2px solid #000;
    border-radius: 8px;
    height: 30px;
    width: 60;
    align-items: center;
    justify-content: center;
    text-align: center;

        &::placeholder {
            color: #000;
        }
    
        &:focus {
            border: 3px solid #cbd5e1;
            transition: all 0.1s;
        }
}

#remover {
    display: flex;
    border-radius: 8px;
    border: 2px solid #000;
    transition: all 0.1s;
    background-color: #cbd5e1;
    margin-left: 140px;

        &:hover {
            opacity: 0.7;
        }
}